@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    padding: 10px 0;
  }
  .logo {
    width: 80px;
  }
  nav ul li {
    margin: 5px 10px;
  }
  .detel {
    margin-left: 0;
    margin-top: 10%;
  }
  .detel h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .images {
    width: 70%;
    right: 50%;
    transform: translateX(50%);
  }
  .social {
    margin-top: 50px;
  }
}
