*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20rem 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100rem;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10rem 20rem;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50rem;
    color: #212121;
    margin-bottom: 20rem;
}

span{
    color: orange;
    
}

.detel p{
    color: #555;
    line-height: 22rem;
}

.detel a{
    background: #212121;
    padding: 10rem 18rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5rem;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100rem;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40rem;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100rem;
}

.social a{
    font-size: 30rem;
    color: #212121;
    margin-right: 20rem;
}

.social a:hover{
    color: orange;
}

html{
    font-size: 62.5%;
}
/* header responsive code */
@media(max-width:998rem) {
    html{
        font-size: 55%;
    }
}

@media(max-width:768rem) {
    html{
        font-size: 45%;
    }
}
